{% extends 'base.html' %}
{% load static %}
{% block context %}
{% if user.is_authenticated %}
<div class="next_nav">
    <div class="container">
        <p class="about_h2">Tutor dashboard</p>
    </div>
</div>
<div class="container dashboard-container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'addTopicsTutor' %}">Add Topics</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'addCourseTutor' %}">Add Course</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'addQuestionTutor' %}">Add Questions</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'addUsersTutor' %}">Add Users</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'tutorReportTutor' %}">Tutors Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'studentReportTutor' %}">Studets Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'questionReportTutor' %}">Questions Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'resultReportTutor' %}">Results Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'topicReportTutor' %}">Topics Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'myAccountTutor' %}">My Account</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'myAccountTutor' %}">Change Password</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'myAccountTutor' %}">Logout</a>
                </center>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="alert alert-danger mt-2" role="alert">
        This url didn't open for you
    </div>
</div>
{% endif %}
{% endblock %}