{% extends 'base.html' %}
{% load static %}
{% block context %}
{% if user.is_authenticated %}
<div class="next_nav">
    <div class="container">
        <p class="about_h2">Tutor dashboard</p>
    </div>
</div>
<div class="container dashboard-container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="{% url 'addTopicsTutor' %}">Add Topics</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Add Course</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Add Questions</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Add Users</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Tutors Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Studets Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Questions Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Results Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Topics Report</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">My Account</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Change Password</a>
                </center>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-6 main-col">
            <div class="circle">
                <center>
                    <a class="mainwhite" href="//">Logout</a>
                </center>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="alert alert-danger mt-2" role="alert">
        This url didn't open for you
    </div>
</div>
{% endif %}
{% endblock %}