{% extends 'base.html' %}
{% load static %}
{% block context %}
{% load users_difference %}
{% if user_cookie|my_create_cookie == 1 %}
<div class="next_nav">
    <div class="container">
        <p class="about_h2">My account</p>
    </div>
</div>
<form action="">
    {% csrf_token %}
    <div class="row tutor_row student_login">
        <div class="col-9 tutor_login_main student_register">
            <div class="tutor_div">
                <p class="text-center" style="text-transform: capitalize;">Add new user</p>
            </div>
            <div class="student_details">
                <h4>User Login Details</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="first_name">User First Name</label>
                            <input type="text" class="form-control" id="first_name" placeholder="User First Name">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="last_name">User Last Name</label>
                            <input type="text" class="form-control" id="last_name" placeholder="User Last Name">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="username">Login ID</label>
                            <input type="text" class="form-control" id="username" placeholder="Username">
                        </div>
                    </div>
                </div>
                <h4>User Personal Details</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_email">User Email</label>
                            <input type="email" class="form-control" id="user_email" placeholder="User Email">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_mobile">User Mobile</label>
                            <input type="text" class="form-control" id="user_mobile" placeholder="User Mobile">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_date_of_birth">User Date Of Birth</label>
                            <input type="date" class="form-control" id="user_date_of_birth"
                                placeholder="User Date Of Birth">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_address_line_1">User Address Line 1</label>
                            <input type="text" class="form-control" id="user_address_line_1"
                                placeholder="User Address Line 1">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_address_line_2">User Address Line 2</label>
                            <input type="text" class="form-control" id="user_address_line_2"
                                placeholder="User Address Line 2">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_city">User City</label>
                            <input type="text" class="form-control" id="user_city" placeholder="User City">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_state">User State</label>
                            <input type="text" class="form-control" id="user_state" placeholder="User State">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_country">User Country</label>
                            <input type="text" class="form-control" id="user_country" placeholder="User Country">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group">
                            <label for="user_picture">User Picture</label><br>
                            <input type="file" style="margin-left: -30px">
                        </div>
                    </div>
                    <button type="submit" class="col-8 student_button_1">
                        <div class="student_div">
                            <p class="text-center" style="text-transform: capitalize;">Submit</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}
<div class="container">
    <div class="alert alert-danger mt-2" role="alert">
        This url didn't open for you
    </div>
</div>
{% endif %}
{% endblock %}